<!-- Registration: 
<form> 
	<input type = 'text' placeholder = 'first_name' ng-model = 'newUser.first_name'>
	<input type = 'text' placeholder = 'last_name' ng-model = 'newUser.last_name'>
	<input type = 'text' placeholder = 'location' ng-model = 'newUser.location'>
	<select ng-model='newUser.program'>
		<option>Program2</option>
		<option>Program3</option>
	</select>
	
	<input type = 'number' placeholder = 'phoneNumber' ng-model = 'newUser.phoneNumber'>
	<input type = 'text' placeholder = 'email' ng-model = 'newUser.email'>
	<input type = 'password' placeholder = 'password' ng-model = 'newUser.password'>
	<button ng-click = 'register(newUser)'>Submit</button>
</form>
Login: 
<form> 
	<input type = 'text' placeholder = 'email' ng-model = 'email'>
	<input type = 'password' placeholder = 'password' ng-model  = 'password'>
	<button ng-click = 'login(email, password)'>Submit</button>
</form> -->

<div class="container";>
       <div class="row centered-form">
       <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
           <div class="panel panel-default">
               <div class="panel-heading">
                        <h3 class="panel-title">Register</h3>
                         </div>
                         <div class="panel-body">
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                            <input type="text" ng-model = "newUser.first_name" id="first_name" class="form-control input-sm" placeholder="First Name" required />
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" ng-model = "newUser.last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" required />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
								<input type = 'text' placeholder = 'Location' ng-model = 'newUser.location' class ='form-control'>
								<label for="select">Select Program:</label>
								<select ng-model='newUser.program' class="form-control">
									<option>Program2</option>
									<option>Program3</option>
								</select>
							</div>

							<div class="row">
								<div class="col-sm-4" >
									<input type = 'number' placeholder = 'Phone Number' ng-model = 'newUser.phoneNumber' class ="form-control">
								</div>
							</div>

                            <div class="form-group">
                                <input type="email" ng-model="newUser.email" id="email" class="form-control input-sm" placeholder="Email Address" required />
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" ng-model = "newUser.password" id="password" class="form-control input-sm" placeholder="Password" required />
                                    </div>
                                </div>
                            </div>    
                            <input ng-click = 'register(newUser)' type="submit" class="btn btn-info btn-block">                                                          
                        </form>
                    </div>
                </div>
           </div>
       </div>
   </div>

   <hr>
   <div class="container">
       <div class="row centered-form">
       <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
           <div class="panel panel-default">
               <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                         </div>
                         <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="email" ng-model="email" id="email" class="form-control input-sm" placeholder="Email Address" required />
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" ng-model = "password" id="password" class="form-control input-sm" placeholder="Password" required />
                                    </div>
                                </div>
                            </div>    
                            <button ng-click = 'login(email, password)'>Submit</button>                                                          
                        </form>
                    </div>
                </div>
           </div>
       </div>
   </div>
   